body{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
}
#form-cadastro{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    border-color: #404f65;
    border-width: 5px;
    border-style: solid ;
    padding: 50px;
    text-align: center;
    background-color: #d1d8dd;
}   
#form-cadastro h1{
    margin: 0px;
    position: relative;
    color: #404f65;
}
input, button{
    font-size: 16px;
}
input, div, button{
    color: #404f65;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    background-color: white;
    border-color: #404f65;
    background-color: #3e87ea;
}
input::placeholder{
    color: #404f65;
}
#email:invalid{
    color: red;
    border-radius: 5px;
    border-style: solid;
    background-color: white;
    border-color: #404f65;
    background-color: #3e87ea;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
div button{
    border: none;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
